.create {
  max-width: 500px;
  margin: 30px auto;
  /* background-color: white; */
  padding: 20px;
  color: #555;
}
.create label span {
  display: block;
  margin: 30px 0 10px;
}
.create p {
  font-size: 0.8em;
}
.create button {
  display: block;
  font-size: 1em;
  background-color: blueviolet;
  border: none;
  padding: 8px 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;

  cursor: pointer;
  text-decoration: none;
  margin: 30px auto;
}
.ingredients {
  width: 520px;
  display: flex;
  align-items: center;
}
.ingredients button {
  margin: 0 0 0 20px;
}
