@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html #root body {
  height: 100%;
}
body {
  font-family: "Raleway";
  margin: 0;
  background-color: azure;
  color: dimgrey;
  font-size: 1.4em;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.error,
.loding {
  text-align: center;
  margin: 60px auto;
}
